<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script async src="https://api.countapi.xyz/hit/janerob.com/hits_{{page.counter}}?callback=hitcounter"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rob@janerob.com">email</a></li>
	        		<li><a href="https://github.com/rob-miller">github.com/rob-miller</a></li>
				<li><span style="float: right; color: grey" id="hits_{{page.counter}}"></span></li>
				</ul>
			</footer>
			<script>
			function hitcounter(response) {
			    document.getElementById('hits_{{page.counter}}').innerText = response.value;
			}
			</script>
		</body>
	</html>
